
.row.collapse.full-width
  .small-12.small-centered.large-uncentered.large-8.columns
    .typeform-widget{"data-text" => "Kitshare.", "data-url" => "https://kitshare.typeform.com/to/wAGj5W", :style => "width:100%; height:95vh;"}
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
  .large-4.columns
    %script{:async => "", :src => "https://static.medium.com/embed.js"}
    %a.m-profile.blog{"data-border" => "false", "data-width" => "100%", :href => "https://medium.com/@KitShare"} Extreme Sharer
   
  



