// Top banner image
.main-image {
	background-size: 100% auto;
	background-image: url("main-image.jpg");
	background-repeat: no-repeat;
	height: 100%;
}

// full width for index
.row.full-width {
    width: 100%;
    max-width: 100%;
}

.field-radius {
	border-radius: 3px
}
