-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => true}
    %ul.title-area        
      %li.name
        %span.logo-image=image_tag("logo.png", size: "40x40")
        %span.logo="KitShare"
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          Menu
    .top-bar-section
      %ul
        = render 'layouts/navigation_links'